{% extends 'accounts/base.html' %}
{% block content %}
<style>
  .container{
  background-color:#e5e5e5;
}
.sign{
  margin-top: 20px;margin-left: 25%;
}
.card{

  padding: 30px; border-radius: 10px; width:50%; margin:auto;
  position: static;
}
.btn{
  background-color: #4373d9;
  width:20%
}
body{
  margin-top: 50px;
  position: static;
}
</style>

<body class="container">
  <h1  class="sign" style="font-family:Times New Roman;">SignUp as checker</h1>
  <div class="card">
      <form method="post" action="/accounts/maker/">
        {% csrf_token %}
          <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" required>
         </div>
         <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email" name="email" required>
        </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"  name="password" required>
          </div>
          <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type='password' class="form-control" name="confirm_password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  
  </body>
  {% endblock %} 