

<p>File: <a href="/media/{{ post.file }}">{{ post.file | safe }}</a></p>
<p><b>{{ post.author }} | {{ post.created_on }}</b></p


<h2>{{ comments.count }} Comments list</h2>

{% for comment in comments %}
<hr>
<p >
  {{ comment.body }}
</p>
  <span>
    <b>{{ comment.name }}</b>
  </span>
  <span>
    {{ comment.created_on }}
  </span>

<hr>
{% endfor %}

{% if new_comment %}


Your comment is awaiting moderation

{% else %}

<h3>Leave a comment</h3>
<form method="post">

  {% csrf_token %}
  {{ comment_form.as_p }}
  <button>Submit</button>
</form>
{% endif %}
