


<p>{{ post.author }} | {{ post.created_on }}</p
<p>{{ post.file | safe }}</p>
  

<h2>{{ comments.count }} comments</h2>

{% for comment in comments %}

  <p >
    {{ comment.body }}
    <span>
      {{ comment.name }}
    </span>
    <span>
      {{ comment.created_on }}
    </span>
  </p>

{% endfor %}

{% if new_comment %}


  Your comment is awaiting moderation

{% else %}

<h3>Leave a comment</h3>
<form method="post">
  {{ comment_form.as_p }}
  {% csrf_token %}
  <button>Submit</button>
</form>
{% endif %}
