
<h1>WelCome to list of all file</h1>
{% if request.user.is_maker %}
<a href ="{% url 'files:create' %}">Upload File</a></br>
{% endif %}
<a href ="{% url 'accounts:login' %}">Login</a></br>
<a href ="{% url 'accounts:signup' %}">Sign UP</a></br>
<a href="{% url 'accounts:logout'%}">LogOut</a>

<hr>
{% for u in data %}
<hr>
    Title: <b>{{ u.title }}</b>
    File:<b>{{u.file}}</b>
    File: <a href="/media/{{u.file}}">File</a>
    Created By:<b>{{ u.author }}</b>
    Created At: <b>{{ u.created_on }}</b>
   
    {% if request.user.is_checker %}
    <a href="{% url 'files:update' u.id %}">update</a>
    <a href="{% url 'files:delete' u.id %}">delete</a>
    {% endif %}
    <a href="{% url 'files:detail' u.id %}">Detail</a>
    <hr>
  

    <hr>
{% endfor %}

<hr>
